.modal {
    /* padding: 2rem 5rem; */
    width: 50%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border: solid 2px;
    border-color: #696969f3;
    border-radius: 14px;
    background: #ffffff;
    box-shadow: 31px 31px 61px #ededed,
        -31px -31px 61px #ffffff;
}
.modal p{
    text-align: center;
}
.modal input {
    width: 80%;
    height: 40%;
}
.formModal {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem ;
    max-width: 100%;
}
.label button{
    margin:2rem 0rem;
}
.label p{
    text-align: center;
    width: 100%;
    margin: 0.4rem 0rem 0.4rem 0.5rem;
}
.modalBtn {
    border: none;
    padding: 0.7rem 2rem;
    /* border-radius: 5px; */
    color: #ffff;
    background-color: black;
    cursor: pointer;
}

.subtitle {
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.closeBtn {
    border: none;
    box-shadow: none;
    right: 1rem;
    top: 1rem;
    position: fixed;
    cursor: pointer;
    background: none;
}
.Categoria{
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: solid 1px #303030;
    background-color: #e0e0e038;
}

.images img{
    max-width: 200px;
}